[submodule "external/kernel"]
	path = external/kernel
	url = https://github.com/geniatech666/kernel.git
[submodule "external/rknn-toolkit2"]
	path = external/rknn-toolkit2
	url = https://github.com/geniatech666/rknn-toolkit2.git
[submodule "external/rockit"]
	path = external/rockit
	url = https://github.com/geniatech666/rockit.git
[submodule "external/u-boot"]
	path = external/u-boot
	url = https://github.com/geniatech666/u-boot.git
[submodule "external/rkscript"]
	path = external/rkscript
	url = https://github.com/geniatech666/rkscript.git
[submodule "external/xorg-xserver"]
	path = external/xorg-xserver
	url = https://github.com/geniatech666/xorg-xserver.git
[submodule "external/rockchip-test"]
	path = external/rockchip-test
	url = https://github.com/geniatech666/rockchip-test.git
[submodule "external/rktoolkit"]
	path = external/rktoolkit
	url = https://github.com/geniatech666/rktoolkit.git
[submodule "external/mpp"]
	path = external/mpp
	url = https://github.com/geniatech666/mpp.git
[submodule "external/common_algorithm"]
	path = external/common_algorithm
	url = https://github.com/geniatech666/common_algorithm.git
[submodule "external/tools"]
	path = external/tools
	url = https://github.com/geniatech666/tools.git
[submodule "external/rkwifibt-app"]
	path = external/rkwifibt-app
	url = https://github.com/geniatech666/rkwifibt-app.git
[submodule "external/rk_pcba_test"]
	path = external/rk_pcba_test
	url = https://github.com/geniatech666/rk_pcba_test.git
[submodule "external/linux-rga"]
	path = external/linux-rga
	url = https://github.com/geniatech666/linux-rga.git
[submodule "external/gstreamer-rockchip"]
	path = external/gstreamer-rockchip
	url = https://github.com/geniatech666/gstreamer-rockchip.git
[submodule "external/chromium"]
	path = external/chromium
	url = https://github.com/geniatech666/chromium.git
[submodule "external/uvc_app"]
	path = external/uvc_app
	url = https://github.com/geniatech666/uvc_app.git
[submodule "external/xserver"]
	path = external/xserver
	url = https://github.com/geniatech666/xserver.git
[submodule "external/uac_app"]
	path = external/uac_app
	url = https://github.com/geniatech666/uac_app.git
[submodule "external/prebuilts"]
	path = external/prebuilts
	url = https://github.com/geniatech666/prebuilts.git
[submodule "external/dpdk"]
	path = external/dpdk
	url = https://github.com/geniatech666/dpdk.git
[submodule "external/rkwifibt"]
	path = external/rkwifibt
	url = https://github.com/geniatech666/rkwifibt.git
[submodule "external/rknpu2"]
	path = external/rknpu2
	url = https://github.com/geniatech666/rknpu.git
[submodule "external/recovery"]
	path = external/recovery
	url = https://github.com/geniatech666/recovery.git
[submodule "external/libmali"]
	path = external/libmali
	url = https://github.com/geniatech666/libmali.git
[submodule "external/v4l2mpp"]
	path = external/v4l2mpp
	url = https://github.com/geniatech666/v4l2mpp.git
[submodule "external/rkupdate"]
	path = external/rkupdate
	url = https://github.com/geniatech666/rkupdate.git
[submodule "external/rkbin"]
	path = external/rkbin
	url = https://github.com/geniatech666/rkbin.git
[submodule "external/drm-cursor"]
	path = external/drm-cursor
	url = https://github.com/geniatech666/drm-cursor.git
[submodule "external/alsa-config"]
	path = external/alsa-config
	url = https://github.com/geniatech666/alsa-config.git
[submodule "external/camera_engine_rkaiq"]
	path = external/camera_engine_rkaiq
	url = https://github.com/geniatech666/camera_engine_rkaiq.git
